[submodule "000011/Lund_university/MortezaAbbaszadeh/example-live-scripts"]
	path = 000011/Lund_university/MortezaAbbaszadeh/example-live-scripts
	url = https://github.com/INCF/example-live-scripts.git
